/* Navbar'ın genel düzeni */
nav {
    width: 100%;
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;  /* Taşma engelleme */
    position: relative;  /* Logo'yu doğru konumlamak için */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

/* Logo'yu navbar üzerinde konumlandırma */
.navbar-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Ortalamak için */
    max-width: 150px; /* Logonun boyutunu ihtiyacınıza göre ayarlayın */
}

/* Navbar bağlantıları */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Öğeleri yatayda ortalar */
    align-items: center; /* Öğeleri dikeyde ortalar */
}

.navbar-nav li {
    margin: 0 10px;
}

.navbar-nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #1e1e1e;
    transition: all 0.2s ease;
    font-size: 2em; /* Yazı boyutunu dinamik hale getirme */
}

/* Hover durumunda yazı rengi koyu kırmızı yap */
.navbar-nav a:hover {
    background-color: #333333;
    color: #8B0000; /* Koyu kırmızı */
}

.rounded-image {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
