/* Navbar Genel Ayarları */
nav {
    width: calc(100% - 40px); /* Sağdan ve soldan 20px boşluk */
    margin: 0 auto; /* Ortalamak için */
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px; /* Hafif köşeleri yuvarlatma */
}

/* Menü Stili */
.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-nav li {
    margin: 0 10px;
}

.navbar-nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #1e1e1e;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.navbar-nav a:hover {
    background-color: #333333;
    color: #00d1ff;
}

/* Logonun altında navbarın çıkmasını sağlar */
#navbar-container {
    margin-top: 10px; /* Logodan aşağı boşluk bırakır */
}

/* Responsive Tasarım İçin Medya Sorguları */
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }
    .navbar-nav li {
        margin: 5px 0;
    }
    nav {
        width: calc(100% - 20px); /* Mobilde daha küçük boşluk */
    }
}
