<head>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/navbar.css">
</head>
<nav class="navbar">
    <img src="/images/navbar-logo.png" alt="Logo" class="navbar-logo">
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#who-am-i">Who Am I</a></li>
        <li><a href="#my-projects">My Projects</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a class="separator">|</a></li>
        <li><a href="#invincible-xox">Invincible XOX</a></li>
    </ul>
</nav>