.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70%;
    padding: 120px 0 120px 0;
}

.contact-beyazSatir,
.contact-siyahSatir {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 120px;
    margin: 10px 0 10px 0;
    height: auto;
}
.contact-beyazSatir {
    background-color: #ffffff;
}
.contact-siyahSatir {
    background-color: #1e1e1e;
}

.contact-beyazSatir h2,
.contact-siyahSatir h2 {
    flex: 1;
    font-family: 'Clicker Script', cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 0 30px 0 30px;
}

.contact-beyazSatir h2 {
    color: #1e1e1e;
}

.contact-siyahSatir h2 {
    color: #ffffff;
}

.contact-simge {
    font-size: 25px;
}

.contact-beyazSatir p,
.contact-siyahSatir p {
    flex: 1;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 17px;
    line-height: 1.5em;
    min-height: calc(1.5em * 3);
    margin: 0 30px 0 30px;
}

.contact-beyazSatir p {
    color: #1e1e1e;
}

.contact-siyahSatir p {
    color: #ffffff;
}

.contact-link {
    font-weight: bold;
    font-size: 15px;
}

.contact-link-ready {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #00cccc;
}

.contact-link-ready:hover {
    color: #3498db;
}

.contact-link-workInProgress {
    color: #ffcc00;
    cursor: wait;
    user-select: none;
}

.contact-link-archive {
    color: #cc0000;
    cursor: not-allowed;
    user-select: none;
}


@media (max-width: 800px) {
    .contact-container {
        min-height: 80%;
        padding: 15% 0 15% 0;
    }

    .contact-beyazSatir,
    .contact-siyahSatir {
        min-height: 75%;
    }

    .contact-beyazSatir h2,
    .contact-siyahSatir h2 {
        font-size: 98%;
        margin: 2%;
    }

    .contact-simge {
        font-size: 80%;
    }

    .contact-beyazSatir p,
    .contact-siyahSatir p {
        font-size: 60%;
        margin: 2%;
    }

    .contact-link {
        font-size: 50%;
    }
}