.myprojects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70%;
    padding: 120px 0;
}

.myprojects-beyazSatir,
.myprojects-siyahSatir {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 120px;
    padding: 40px 0;
    height: max-content;
}

.myprojects-beyazSatir {
    background-color: #ffffff;
}

.myprojects-siyahSatir {
    flex-direction: row-reverse;
    background-color: #1e1e1e;
}

.myprojects-beyazSatir h2,
.myprojects-siyahSatir h2 {
    flex: 1;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    font-size: 20px;
    margin: 0 30px;
}

.myprojects-beyazSatir h2 .info,
.myprojects-siyahSatir h2 .info {
    font-size: 60%;
    font-weight: normal;
}

.myprojects-beyazSatir h2 .myprojects-link-copyright,
.myprojects-siyahSatir h2 .myprojects-link-copyright {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #00cccc;
}

.myprojects-beyazSatir h2 .myprojects-link-copyright:hover,
.myprojects-siyahSatir h2 .myprojects-link-copyright:hover {
    color: #3498db;
}

.myprojects-beyazSatir h2 {
    color: #1e1e1e;
}

.myprojects-siyahSatir h2 {
    color: #ffffff;
}

.myprojects-beyazSatir p,
.myprojects-siyahSatir p {
    flex: 1;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
    min-height: calc(1.5em * 3);
    margin: 0 30px;
}

.myprojects-beyazSatir p .myprojects-link-copyright,
.myprojects-siyahSatir p .myprojects-link-copyright {
    font-size: 1em; /* p etiketiyle orantılı */
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #00cccc;
}

.myprojects-beyazSatir p .myprojects-link-copyright:hover,
.myprojects-siyahSatir p .myprojects-link-copyright:hover {
    color: #3498db;
}

.myprojects-beyazSatir p {
    color: #1e1e1e;
}

.myprojects-siyahSatir p {
    color: #ffffff;
}

.myprojects-link {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #00cccc;
}

.myprojects-link-ready {
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #00cccc;
}

.myprojects-link-ready:hover {
    color: #3498db;
}

.myprojects-link-inDevelopment {
    color: #ffcc00;
    cursor: wait;
    user-select: none;
}

.myprojects-link-lock {
    color: #ffcc00;
    cursor: not-allowed;
    user-select: none;
}

.myprojects-link-archive {
    color: #cc0000;
    cursor: not-allowed;
    user-select: none;
}

@media (max-width: 800px) {
    .myprojects-container {
        min-height: 80%;
        padding: 15% 0;
    }

    .myprojects-beyazSatir,
    .myprojects-siyahSatir {
        min-height: 75%;
    }

    .myprojects-beyazSatir h2,
    .myprojects-siyahSatir h2 {
        font-size: 70%;
        margin: 2%;
    }

    .myprojects-beyazSatir p,
    .myprojects-siyahSatir p {
        font-size: 50%;
        margin: 2%;
    }

    .myprojects-link {
        font-size: 50%;
    }
}