/* Genel Sayfa Düzeni */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

html, body {
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Navbar Animasyonu */
@keyframes slideLeft {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Navbar */
.navbar {
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    border-top-right-radius: 60px;
    animation: slideLeft 0.75s ease-out forwards;
}

.navbar::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px; /* Kare genişliği */
    height: 60px; /* Kare yüksekliği */
    background-color: #1e1e1e; /* Sayfa arka plan rengi ile aynı olmalı */
}

.navbar-logo {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    animation: fadeIn 2.25s forwards 1.5s;
    margin-left: 10px;
}


.navbar a:focus,
.navbar a:active {
    outline: none;
    background: none !important;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 13px;
    opacity: 0;
    animation: slideDown 1.50s forwards 0.75s;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a.separator {
    pointer-events: none; /* Tıklanamaz yap */
    color: #ffffff; /* Separator rengi (isteğe bağlı) */
    font-weight: bold;
    cursor: default; /* El simgesi çıkmasın */
    text-decoration: none; /* Alt çizgi olmasın */
}

.navbar ul li a.separator:hover {
    background: none;
    color: #ffffff; /* Hover olsa bile değişmemesi için */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Navbar Linkleri Animasyonu */
@keyframes slideDown {
    from { transform: translateY(-100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    display: block;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.navbar ul li a.active {
    font-weight: bold;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* Alt çizgiyi animasyonlu hale getiriyoruz */
.navbar-underline {
    position: absolute;
    bottom: 11px;
    height: 4px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navbar ul li a:hover {
    background-color: #3e3e3e;
}

@keyframes slideRightPageOpen {
    from {
        transform: translate(150vw, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slideRightPageClose {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(150vw, -50%);
        opacity: 0;
    }
}

@keyframes slideLeftPageOpen {
    from {
        transform: translate(-150vw, -50%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes slideLeftPageClose {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-150vw, -50%);
        opacity: 0;
    }
}

.page-content {
    position: fixed; /* Tüm ekrana göre konumlandır */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Yatay ve dikey olarak ortala */
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 2.25s forwards 1.5s;
}

h1 {
    color: #1e1e1e;
    position: absolute; /* Konumlandırma */
    top: 30%; /* Sayfa yüksekliğinin yarısı */
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Clicker Script', cursive;
    opacity: 1;
    text-align: center;
}

.whoami-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    min-height: 100vh; /* Sayfa yüksekliği kadar alan kaplasın */
}

.whoami-container h2 {
    color: #1e1e1e;
}

.whoami-container p {
    color: #1e1e1e;
    text-align: center;
    margin: 0 50px 0 50px;
}

/* Footer Animasyonu */
@keyframes slideRight {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Footer */
.footer {
    background-color: #1e1e1e;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 60px;
    animation: slideRight 0.75s ease-out forwards;
}

/* Footer Metni */
.footer p {
    margin: 0;
    font-size: 12px;
    text-align: center;
    flex-grow: 1;
    opacity: 0;
    animation: slideUp 1.50s forwards 0.75s;
}

@keyframes slideUp {
    from { transform: translateY(100%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* Sosyal Medya */
.footer .social-media {
    list-style: none;
    display: flex;
    align-items: center;
    position: absolute;
    gap: 30px;
    margin: 0;
    padding: 0;
    right: 20px;
    opacity: 0;
    animation: fadeIn 2.25s forwards 1.5s;
    z-index: 9999;
}

.footer .social-media li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
    display: block; /* Tüm simgeyi tıklanabilir yapmak için */
}

/* Sosyal Medya Hover Renkleri */
.footer .social-media li a.instagram:hover { color: #E4405F; }
.footer .social-media li a.linkedin:hover { color: #0A66C2; }
.footer .social-media li a.youtube:hover { color: #FF0000; }
.footer .social-media li a.github:hover { color: #A9A9A9; }
.footer .social-media li a.twitter:hover { color: #1DA1F2; }

/* Sosyal Medya Hover Renkleri */
.footer .social-media li a.instagram:hover {
    color: #E4405F;
    filter: drop-shadow(0px 0px 10px rgba(228, 64, 95)); /* Instagram için renkli gölge */
}
.footer .social-media li a.linkedin:hover {
    filter: drop-shadow(0px 0px 10px rgba(10, 102, 194)); /* LinkedIn için renkli gölge */
}
.footer .social-media li a.youtube:hover {
    filter: drop-shadow(0px 0px 10px rgba(255, 0, 0)); /* YouTube için kırmızı gölge */
}
.footer .social-media li a.github:hover {
    filter: drop-shadow(0px 0px 10px rgba(169, 169, 169)); /* GitHub için koyu gri gölge */
}
.footer .social-media li a.twitter:hover {
    filter: drop-shadow(0px 0px 10px rgba(29, 161, 242)); /* Twitter için mavi gölge */
}


/* Mobil Uyum (768px Altı) */
@media (max-width: 800px) {

    .navbar-logo {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5px;
    }

    .navbar ul li {
        margin: 0;
    }

    .navbar ul li a {
        padding: 5px 8px;
        font-size: 8px;
    }

    .navbar-underline {
        bottom: 17px;
        height: 3px;
    }

    .whoami-container {
        padding: 10px;
    }
    
    .whoami-container h2 {
        font-size: 1.5em;
    }
    
    .whoami-container p {
        font-size: 0.9em;
    }

    .footer p {
        font-size: 10px;
        text-align: center;
        margin-top: 40px;
    }

    .footer .social-media {
        justify-content: center; /* Mobilde ortaya hizala */
        width: 100%;
        right: auto;
        margin-bottom: 15px;
        gap: 55px;
    }

    .footer .social-media li a {
        font-size: 20px;
    }
}