.whoami-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70%;
    padding: 120px 0 120px 0;
}

.whoami-beyazSatir,
.whoami-siyahSatir {
    display: flex;
    align-items: center;
    text-align: center;
    min-height: 120px;
    padding: 10px 0 10px 0;
    height: auto;
}
.whoami-beyazSatir {
    background-color: #ffffff;
}
.whoami-siyahSatir {
    background-color: #1e1e1e;
}

.whoami-beyazSatir h2,
.whoami-siyahSatir h2 {
    flex: 1;
    font-family: 'Clicker Script', cursive;
    font-weight: bold;
    font-size: 30px;
    margin: 0 30px 0 30px;
}

.whoami-beyazSatir h2 {
    color: #1e1e1e;
}

.whoami-siyahSatir h2 {
    color: #ffffff;
}

.whoami-beyazSatir p,
.whoami-siyahSatir p {
    flex: 1.5;
    text-align: center;
    font-family: 'Comfortaa', sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    min-height: calc(1.5em * 3);
    margin: 0 30px 0 30px;
}

.whoami-beyazSatir p {
    color: #1e1e1e;
}

.whoami-siyahSatir p {
    color: #ffffff;
}


@media (max-width: 800px) {
    .whoami-container {
        min-height: 80%;
        padding: 15% 0 15% 0;
    }

    .whoami-beyazSatir,
    .whoami-siyahSatir {
        min-height: 75%;
    }

    .whoami-beyazSatir h2,
    .whoami-siyahSatir h2 {
        font-size: 95%;
        margin: 2%;
    }

    .whoami-beyazSatir p,
    .whoami-siyahSatir p {
        font-size: 50%;
        margin: 2%;
    }
}